In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("/home/hasan/Downloads/cf_report_1281911_full.csv")

In [7]:
data.head()

,id,on_a_scale_of_1_to_7_how_much_shape1_is_similar_to_shape2__with_7_being_the_highest_level_of_similarity,image_source,image_source1,image_source2,shape1,shape2
0,3844223449,7,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,high convexity
1,3844227993,7,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,high convexity
2,3844229416,7,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,high convexity
3,3844134335,1,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,thin rectangular
4,3844162096,1,NaN,http://creacogcomp.com/images_shapes_similarit...,http://creacogcomp.com/images_shapes_similarit...,high convexity,thin rectangular

In [4]:
data1= pd.read_csv("/home/hasan/Downloads/cf_report_1283315_full.csv")

In [5]:
data1.head()

,id,on_a_scale_of_1_to_7_how_much_material1_is_similar_to_material2__with_7_being_the_highest_level_of_similarity,material1,material2,_unit_id,_created_at,_started_at,_tainted,_channel,_trust,_worker_id,_country,_region,_city,_ip
0,3847112884,7,Ceramic,Ceramic,1810735641,7/13/2018 14:01:21,7/13/2018 14:00:49,False,clixsense,1,44337444,GBR,G8,Huddersfield,86.25.55.236
1,3847148991,7,Ceramic,Ceramic,1810735641,7/13/2018 14:16:13,7/13/2018 14:15:42,False,neodev,1,42145897,USA,NaN,NaN,64.66.208.73
2,3847149593,7,Ceramic,Ceramic,1810735641,7/13/2018 14:16:27,7/13/2018 14:15:58,False,elite,1,44549002,USA,NaN,NaN,174.235.157.233
3,3847179273,7,Ceramic,Ceramic,1810735641,7/13/2018 14:28:18,7/13/2018 14:26:19,False,prodege,1,38202325,USA,ME,Limestone,98.13.82.121
4,3847187325,7,Ceramic,Ceramic,1810735641,7/13/2018 14:31:40,7/13/2018 14:30:27,False,grabpoints,1,39013744,CAN,ON,Markham,76.64.160.92